<div ng-controller="ChildCRUDCtrl">
    <div class="data">
        <table class="table table-hover">
            <tr>
                <td>ФИО</td>
                <td>Номер детсада</td>
                <td>Возраст</td>
            </tr>
            <tr ng-repeat="child in children" ng-cloak>
                <td>
                    {{child.Surname+" "+child.Name+" "+child.Patronymic}}
                </td>
                <td>
                    {{child.ChildhoodNum}}
                </td>
                <td>
                    {{child.Age}}
                </td>
                <td>
                    <span ng-click="EditChild(child)" class="btn btn-primary">Редактировать</span>
                    <span ng-click="DeleteChild(child)" class="btn btn-danger">Удалить</span>
                </td>
            </tr>
        </table>
        <div class="container"  ng-cloak="true">
            <ul ng-if="pager.pages.length" class="pagination">
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(1)">First</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                    <a ng-click="setPage(page)">{{page}}</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>    
    </div>
    <!--

    -->
    <span ng-click="AddChildDiv()" class="btn btn-default">Добавить ребёнка</span>
    <div ng-show="divEdit" ng-cloak>
        <table class="table table-hover">
            <tr>
                <td>{{Action}} записи</td>

                <td></td>
            </tr>
            <tr>
                <td>
                    Фамилия
                </td>
                <td>
                    <input type="text" ng-model="child.Surname" />
                </td>
            </tr>
            <tr>
                <td>
                    Имя
                </td>
                <td>
                    <input type="text" ng-model="child.Name" />
                </td>
            </tr>
            <tr>
                <td>
                    Отчество
                </td>
                <td>
                    <input type="text" ng-model="child.Patronymic" />
                </td>
            </tr>
            <tr>
                <td>
                    Возраст
                </td>
                <td>
                    <input type="text" ng-model="child.Age" />
                </td>
            </tr>
            <tr>
                <td>
                    Номер детсада
                </td>
                <td>

                    <input type="text" ng-model="child.ChildhoodNum" disabled="disabled" />
                    <select ng-model="child.ChildhoodNum">
                        <option ng-repeat="num in nums">{{num}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" ng-show="save" ng-click="AddChild()" class="btn btn-default" value="Сохранить" />
                    <input type="button" ng-show="edit" ng-click="UpdateChild()" class="btn btn-default" value="Сохранить" />
                </td>
                <td>
                    <input type="button" ng-click="Cancel()" class="btn btn-danger" value="Отменить" />
                </td>
            </tr>
        </table>
    </div>


</div>