<div class="container" ng-cloak="true">
    <ul ng-if="pages.length" class="pagination">
        <li ng-class="{disabled:currentPage === 1}">
            <a ng-click="getPage(1)">Первая</a>
        </li>
        <li ng-class="{disabled:currentPage === 1}">
            <a ng-click="getPage(currentPage - 1)">Предыдущая</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active:currentPage === page}">
            <a ng-click="getPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:currentPage === totalPages}">
            <a ng-click="getPage(currentPage + 1)">Следующая</a>
        </li>
        <li ng-class="{disabled:currentPage === totalPages}">
            <a ng-click="getPage(totalPages)">Последняя</a>
        </li>
    </ul>
</div>    