body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-width:700px;
    width:auto;
    margin-left:10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.elegant-aero {
  margin-top: 25px;
}

.elegant-aero label {
  display: block;
  margin: 0px 0px 5px;
}

.elegant-aero input[type="text"] {
  width: 60%;
  height: 30px;
  margin: 2px 6px 16px 0px;
}