@{
    ViewBag.Title = "NewIndex";
}
<div ng-controller="ChildCRUDCtrl">
    <div>
        <dir-child-list children="children" on-edit="EditChild(child)" on-delete="DeleteChild(id)" />
    </div>
    <div ng-if="ready">
        <dir-pagination set-page="setPage(page)" current-page="currentPage" total-pages="totalPages"/>
    </div>

    <button ng-click="AddChildDiv()" class="btn btn-default">Добавить ребёнка</button>
    <div ng-show="divEdit" ng-cloak>
        <div>
            <dir-child-form child="child" confirm="confirm()" nums="nums"/>
        </div>
        <input type="button" ng-click="Cancel()" class="btn btn-danger" value="Отменить" />
    </div>
</div>