@{
    ViewBag.Title = "NewIndex";
}
<div ng-controller="ChildCRUDCtrl">
    <div>
        <div dir-child-list children="children" edit-func="EditChild" delete-func="DeleteChild" />
    </div>
    <div ng-if="ready">
        <div dir-pagination set-page="setPage(page)" current-page="currentPage" total-pages="totalPages"/>
    </div>

    <span ng-click="AddChildDiv()" class="btn btn-default">Добавить ребёнка</span>
    <div ng-show="divEdit" ng-cloak>
        <div>
            <div dir-child-form child="child" cancel="Cancel" submit="Submit" nums="nums"></div>
        </div>
    </div>

</div>