@{
    ViewBag.Title = "NewIndex";
}
<div ng-controller="ChildCrudController">
    <div>
        <dir-child-list children="children" on-edit="editChild(child)" on-delete="deleteChild(child)" />
    </div>
    <div ng-if="paginationLoad">
        <dir-pagination load-page="loadPage(page)" current-page="currentPage" total-pages="totalPages"/>
    </div>

    <button ng-click="newChild()" class="btn btn-default">Добавить ребёнка</button>
    <div ng-show="showForm" ng-cloak>
        <div>
            <dir-child-form child="child" form-action="formAction()" childhoods="childhoods"/>
        </div>
        <input type="button" ng-click="closeForm()" class="btn btn-danger" value="Отменить" />
    </div>
</div>