@{
    ViewBag.Title = "Index";
}

<h2>Задание</h2>

<p>
    Для Министерства Детства необходимо реализовать веб приложение по учёту детей и детских садов.
    Для детских садов необходимо знать их номер, адрес, и какие дети в него ходят.
    Для детей - ФИО, возраст, и в какой садик они ходят.
</p>

<p>Приложение должно реализовывать следующий функционал</p>
<ol>
    <li>CRUD редактирование детских садов.</li>
    <li>CRUD редактирование детей.</li>
    <li>Возможность поменять в какой садик ходит ребёнок.</li>
    <li>Возможность посмотреть список детей ходящих в каждый сад.</li>
</ol>
<p>Ожидаемый технологический стэк</p>
<ul>
    <li>( MSSQL | MySql | Postgres )</li>
    <li>( Entity Framework | NHibernate )</li>
    <li>( ASP.NET MVC | ASP.NET WebAPI + ( Angular | React | Knockout ) )</li>
</ul>